{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h4>Edit Your Profile</h4>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form User_Form %}
                {% bootstrap_form Profile_Form %}
                
                {% buttons %}
                    <button class="boxed-btn3 w-100" type="submit">Save Changes</button>
                {% endbuttons %}

                    
            </form>
        </div>
    </div>
</div>

{% endblock body %}










